.body-content {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 65px;
    margin-right: 65px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px auto;
}

.pagination button {
    background-color: #b40052;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 4px solid #ddd;
    border-top: 4px solid #b40052;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}