.body-content {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 65px;
    margin-right: 65px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px auto;
}

.pagination button {
    background-color: #b40052;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 4px solid #ddd;
    border-top: 4px solid #b40052;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.inventory-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.inventory-title::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background: linear-gradient(to right, #37947d, #294652);
    margin: 8px auto 0 auto;
    border-radius: 2px;
}

.inventory-subtitle {
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .inventory-title {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .inventory-subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }
}