.header {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 150px;
  padding: 16px;
  background-color: #b40052;
  color: white;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-logo {
  background-color: #b40052;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.header-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer; /* Cambia el cursor cuando se pasa por encima*/
  padding: 5px 10px;
}

.menu-item:hover {
  color: white; /* fuerza blanco cuando se pasa el cursor por encima*/
}